@import "var"
*{
    margin: 0;
    padding: 0;
}


@each $key , $var in $colores {
    .btn-#{$key}{
        @extend .btn;
        background-color: $var;
    }
}
@mixin propiedades($ancho,$alto,$colorletra) {
    width: $ancho;
    height: $alto;
    color: $colorletra;
}
    
.btn{
    padding: map-get($btn , padding );
    border: map-get($btn , border );
    border-radius: map-get($btn, radius );
    @include propiedades(100px,auto ,rgb(245, 33, 33) )
    
}